<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ headers.title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="style/site.css">

{% if headers.atom %}
    <link rel="alternate" href="{{ headers.atom.url }}"
          type="application/atom+xml" title="{{ headers.atom.title }}" />
{% endif %}
{% if headers.base %}
    <base href="{{ headers.base }}" />
{% endif %}
{% if headers.notice %}
<!--
{{ headers.notice }}
-->
{% endif %}
  </head>

  <body>
    <div id="page">
      <div id="header">
        <p id="jcr"><a href="/"><img
          src="style/jlogo.gif" alt="Apache Jackrabbit"
          height="100" width="336"></a></p>
        <p id="asf"><a href="http://www.apache.org/"><img
          src="style/asf-logo.gif" alt="Apache Software Foundation"
          height="100" width="387"></a></p>
      </div>
      <div id="body">
        <div id="navigation">
        </div>
        <div id="content">
          {% block content %}{{ content|markdown }}{% endblock %}
        </div>
        <div id="end"></div>
      </div>
      <div id="footer">
        <p>
          &copy; 2004-2012 The Apache Software Foundation.
          - <a href="privacy-policy.html">Privacy Policy</a> -
          [<a href="$confluenceUri/pages/editpage.action?pageId=$page.id">edit this page</a>]
          <br>
          Apache Jackrabbit, Jackrabbit, Apache, the Apache feather logo,
          and the Apache Jackrabbit project logo are trademarks of
          The Apache Software Foundation.
        </p>
      </div>
    </div>
  </body>
</html>
